%button--liked:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url('./../assets/images/like.png') 40px -5px / 70% no-repeat;
}

button {
  &.suggestion-like__button {
    position: relative;
    padding-left: 30px;
    color: #5E5E5E;
    &:hover {
      background-color: #ccd9f2;
      &:after {
        @extend %button--liked;
        opacity: 0.5;
      }
    }
    &:active {
      background-color: #a7b7d5;
      &:after {
        @extend %button--liked;
        opacity: 0.4;
      }
    }
    &.suggestion-like__button--liked {
      &:after {
        opacity: 0.3;
        @extend %button--liked;
      }
    }
  }
}

table {
  &.suggestions-table {
    .suggestions-table__head {
      font-size: 20px;
      background-color: #6F7084;
      color: #F0F0F0;
      font-weight: 600;
    }
    .suggestions-table__head__name {
      padding-left: 20px;
    }
    .suggestions-table__head__action {
      width: 120px;
      padding-left: 30px;
    }
    .suggestions-table__body {
      color: #5E5E5E;
      font-size: 22px;
      tr {
        background-color: #F0F0F0;
        &:nth-child(even) {
          background-color: #E7E7E7;
        }
      }
    }
    .suggestions-table__body__name {
      padding-left: 20px;
    }
    .suggestions-table__body__action {
      .button {
        padding-left: 30px;
      }
    }
  }
}