table {
  &.suggestions-form {
    margin-top: 40px;
    .suggestions-form__actions {
      width: 120px;
    }
  }
}

input {
  &.suggestion-name__input {
    height: 50px;
    width: 100%;
    line-height: 50px;
    border: 1px solid #E1E1E1;
    font-size: 18px;
    padding: 0 10px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #c3c3c3;
      opacity: 1;
    }
  }
}

button {
  &.suggestion-add__button {
    background-color: #5D7EBD;
    color: #B6CAF6;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    &:hover {
      background-color: #7896ce;
      color: #F0F0F0;
    }
    &:active {
      background-color: #5874a8;
      color: #e7e7e7;
    }
  }
}

