button.suggestion-like__button:hover:after, button.suggestion-like__button:active:after, button.suggestion-like__button.suggestion-like__button--liked:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url("./../assets/images/like.png") 40px -5px/70% no-repeat; }

button.suggestion-like__button {
  position: relative;
  padding-left: 30px;
  color: #5E5E5E; }
  button.suggestion-like__button:hover {
    background-color: #ccd9f2; }
    button.suggestion-like__button:hover:after {
      opacity: 0.5; }
  button.suggestion-like__button:active {
    background-color: #a7b7d5; }
    button.suggestion-like__button:active:after {
      opacity: 0.4; }
  button.suggestion-like__button.suggestion-like__button--liked:after {
    opacity: 0.3; }

table.suggestions-table .suggestions-table__head {
  font-size: 20px;
  background-color: #6F7084;
  color: #F0F0F0;
  font-weight: 600; }
table.suggestions-table .suggestions-table__head__name {
  padding-left: 20px; }
table.suggestions-table .suggestions-table__head__action {
  width: 120px;
  padding-left: 30px; }
table.suggestions-table .suggestions-table__body {
  color: #5E5E5E;
  font-size: 22px; }
  table.suggestions-table .suggestions-table__body tr {
    background-color: #F0F0F0; }
    table.suggestions-table .suggestions-table__body tr:nth-child(even) {
      background-color: #E7E7E7; }
table.suggestions-table .suggestions-table__body__name {
  padding-left: 20px; }
table.suggestions-table .suggestions-table__body__action .button {
  padding-left: 30px; }

/*# sourceMappingURL=SuggestionsTable.css.map */
