button.btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  background-color: transparent;
  border: none;
  text-align: left;
  border-radius: 0; }
  button.btn:focus {
    outline: none; }

/*# sourceMappingURL=button.css.map */
